@media (max-width: 1085px) {
	/*достигнута минимально доп. ширина 
	для меню*/
	header li {
		margin: 9px;
	}
}
@media (max-width: 1000px) {
	/*достигнута минимально доп. ширина 
	для всего контента*/
	#glavnaya {
		display: none;
	}
	header li {
		margin: 9px;
	}
	#title-text5 {
		left: 585px;
		top: 45px
	}
}
@media (max-width: 950px) {
	/*достигнута минимально доп. ширина 
	для всего контента*/
	header li {
		margin: 4px;
	}
	
	.title-form input[type='tel'], .title-form input[type='email'] {
		width: 27%;
		margin-left: 3px;
	}
	.title-form input[type='text'] {
		width: 60%;
	}
	.button {
		width: 63%;
		margin-left: 6px;
	}
}
@media (max-width: 870px) {
	/*достигнута минимально доп. ширина 
	для всего контента*/
	#zakazat {
		display: none;
	}
	#title-text2 {
		left: 30px;
	}
	#title-text3 {
		left: 100px;
	}
	#title-text5 {
		left: 425px;
	}
	.form-style {
		left: 425px;
	}
}